/* line 12, ../sass/globals/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 18, ../sass/globals/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 23, ../sass/globals/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 28, ../sass/globals/_normalize.scss */
[hidden] {
  display: none;
}

/* line 32, ../sass/globals/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* line 42, ../sass/globals/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 46, ../sass/globals/_normalize.scss */
body {
  margin: 0;
}

/* line 50, ../sass/globals/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 55, ../sass/globals/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 59, ../sass/globals/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 64, ../sass/globals/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 69, ../sass/globals/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 74, ../sass/globals/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 79, ../sass/globals/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 84, ../sass/globals/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/* line 89, ../sass/globals/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 94, ../sass/globals/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 98, ../sass/globals/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 102, ../sass/globals/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 106, ../sass/globals/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 112, ../sass/globals/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 118, ../sass/globals/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 125, ../sass/globals/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 131, ../sass/globals/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 137, ../sass/globals/_normalize.scss */
q {
  quotes: none;
}

/* line 142, ../sass/globals/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 148, ../sass/globals/_normalize.scss */
small {
  font-size: 80%;
}

/* line 153, ../sass/globals/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 160, ../sass/globals/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 164, ../sass/globals/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 171, ../sass/globals/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 175, ../sass/globals/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 181, ../sass/globals/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 186, ../sass/globals/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 191, ../sass/globals/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/* line 196, ../sass/globals/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 200, ../sass/globals/_normalize.scss */
figure {
  margin: 0;
}

/* line 204, ../sass/globals/_normalize.scss */
form {
  margin: 0;
}

/* line 208, ../sass/globals/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 214, ../sass/globals/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/* line 224, ../sass/globals/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/* line 232, ../sass/globals/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 237, ../sass/globals/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 244, ../sass/globals/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/* line 251, ../sass/globals/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 256, ../sass/globals/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/* line 263, ../sass/globals/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/* line 271, ../sass/globals/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 276, ../sass/globals/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 281, ../sass/globals/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* line 286, ../sass/globals/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, ../sass/globals/_overrides.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 9, ../sass/globals/_overrides.scss */
body {
  font-size: 1em;
  line-height: 1.4;
  padding: 0;
}

/* line 15, ../sass/globals/_overrides.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 20, ../sass/globals/_overrides.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 25, ../sass/globals/_overrides.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 34, ../sass/globals/_overrides.scss */
img {
  vertical-align: middle;
}

/* line 38, ../sass/globals/_overrides.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 44, ../sass/globals/_overrides.scss */
textarea {
  resize: vertical;
}

/* line 47, ../sass/globals/_overrides.scss */
strong {
  font-weight: bold;
}

/* line 50, ../sass/globals/_overrides.scss */
em {
  font-style: italic;
}

/* line 53, ../sass/globals/_overrides.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
==========================================================================
Grid Settings
==========================================================================
*/
/*
==========================================================================
Colors
==========================================================================
*/
/*
==========================================================================
CSS animations / keyframes
==========================================================================
*/
/*
==========================================================================
Mixins
==========================================================================
*/
/*
==========================================================================
Typography
==========================================================================
*/
/*
==========================================================================
Project CSS
==========================================================================
*/
/* line 7, ../sass/project/_page.scss */
body {
  font-size: 16px;
}

/*
==========================================================================
Grid CSS
- 12 column Grid system [target / context = result]
==========================================================================
*/
/* line 16, ../sass/globals/_grid.scss */
.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  width: 100%;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-1 {
  display: inline;
  float: left;
  width: 6.77083%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-2 {
  display: inline;
  float: left;
  width: 15.10417%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-3 {
  display: inline;
  float: left;
  width: 23.4375%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-4 {
  display: inline;
  float: left;
  width: 31.77083%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-5 {
  display: inline;
  float: left;
  width: 40.10417%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-6 {
  display: inline;
  float: left;
  width: 48.4375%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-7 {
  display: inline;
  float: left;
  width: 56.77083%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-8 {
  display: inline;
  float: left;
  width: 65.10417%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-9 {
  display: inline;
  float: left;
  width: 73.4375%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-10 {
  display: inline;
  float: left;
  width: 81.77083%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-11 {
  display: inline;
  float: left;
  width: 90.10417%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-12 {
  display: inline;
  float: left;
  width: 98.4375%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 34, ../sass/globals/_grid.scss */
.grid-container .push-1 {
  margin-left: 9.11458%;
  position: relative;
}

/* line 34, ../sass/globals/_grid.scss */
.grid-container .push-2 {
  margin-left: 17.44792%;
  position: relative;
}

/* line 34, ../sass/globals/_grid.scss */
.grid-container .push-3 {
  margin-left: 25.78125%;
  position: relative;
}

/* line 34, ../sass/globals/_grid.scss */
.grid-container .push-4 {
  margin-left: 34.11458%;
  position: relative;
}

/* line 34, ../sass/globals/_grid.scss */
.grid-container .push-5 {
  margin-left: 42.44792%;
  position: relative;
}

/* line 34, ../sass/globals/_grid.scss */
.grid-container .push-6 {
  margin-left: 50.78125%;
  position: relative;
}

/* line 34, ../sass/globals/_grid.scss */
.grid-container .push-7 {
  margin-left: 59.11458%;
  position: relative;
}

/* line 34, ../sass/globals/_grid.scss */
.grid-container .push-8 {
  margin-left: 67.44792%;
  position: relative;
}

/* line 34, ../sass/globals/_grid.scss */
.grid-container .push-9 {
  margin-left: 75.78125%;
  position: relative;
}

/* line 34, ../sass/globals/_grid.scss */
.grid-container .push-10 {
  margin-left: 84.11458%;
  position: relative;
}

/* line 34, ../sass/globals/_grid.scss */
.grid-container .push-11 {
  margin-left: 92.44792%;
  position: relative;
}

/* line 34, ../sass/globals/_grid.scss */
.grid-container .push-12 {
  margin-left: 100.78125%;
  position: relative;
}

/* line 40, ../sass/globals/_grid.scss */
.alpha {
  margin-left: 0;
}

/* line 44, ../sass/globals/_grid.scss */
.omega {
  margin-right: 0;
}

/* line 48, ../sass/globals/_grid.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 58, ../sass/globals/_grid.scss */
.grid-container:before,
.grid-container:after {
  content: ' ';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

/* line 69, ../sass/globals/_grid.scss */
.grid-container:after {
  clear: both;
}

/* line 73, ../sass/globals/_grid.scss */
.grid-container {
  zoom: 1;
}

/* line 5, ../sass/globals/_helpers.scss */
.no-padding {
  padding: 0 !important;
}

/* line 6, ../sass/globals/_helpers.scss */
.no-margin {
  margin: 0 !important;
}

/* line 7, ../sass/globals/_helpers.scss */
.no-float {
  float: none !important;
}

/* line 8, ../sass/globals/_helpers.scss */
.no-border {
  border: 0 !important;
}

/* line 11, ../sass/globals/_helpers.scss */
.fixed {
  position: fixed !important;
}

/* line 12, ../sass/globals/_helpers.scss */
.relative {
  position: relative !important;
}

/* line 13, ../sass/globals/_helpers.scss */
.absolute {
  position: absolute !important;
}

/* line 14, ../sass/globals/_helpers.scss */
.center {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 17, ../sass/globals/_helpers.scss */
.left {
  float: left !important;
}

/* line 18, ../sass/globals/_helpers.scss */
.right {
  float: right !important;
}

/* line 19, ../sass/globals/_helpers.scss */
.wrap {
  overflow: auto;
}

/* line 20, ../sass/globals/_helpers.scss */
.clearfix {
  *zoom: 1;
}

/* line 22, ../sass/globals/_helpers.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 23, ../sass/globals/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 26, ../sass/globals/_helpers.scss */
.text-right {
  text-align: right;
}

/* line 27, ../sass/globals/_helpers.scss */
.text-left {
  text-align: left;
}

/* line 28, ../sass/globals/_helpers.scss */
.text-justify {
  text-align: justify;
}

/* line 29, ../sass/globals/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 30, ../sass/globals/_helpers.scss */
.ellipsis {
  overflow: hidden;
}

/* line 31, ../sass/globals/_helpers.scss */
.underline {
  border-bottom: 1px solid;
}

/* line 32, ../sass/globals/_helpers.scss */
.strike {
  text-decoration: line-through;
}

/* line 33, ../sass/globals/_helpers.scss */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 34, ../sass/globals/_helpers.scss */
.spaced {
  letter-spacing: 1px;
}

/* line 37, ../sass/globals/_helpers.scss */
.block {
  display: block !important;
}

/* line 38, ../sass/globals/_helpers.scss */
.inline {
  display: inline-block !important;
}

/* line 39, ../sass/globals/_helpers.scss */
.show {
  display: block;
}

/* line 40, ../sass/globals/_helpers.scss */
.hide {
  display: none;
}

/* line 41, ../sass/globals/_helpers.scss */
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* line 42, ../sass/globals/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 43, ../sass/globals/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 44, ../sass/globals/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 46, ../sass/globals/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 49, ../sass/globals/_helpers.scss */
.table-wrapper {
  display: table;
  border-collapse: collapse;
}

/* line 50, ../sass/globals/_helpers.scss */
.table-row {
  display: table-row;
}

/* line 51, ../sass/globals/_helpers.scss */
.table-cell {
  display: table-cell;
  float: left;
}

/* line 52, ../sass/globals/_helpers.scss */
.valign-top {
  vertical-align: top;
}

/* line 53, ../sass/globals/_helpers.scss */
.valign-middle {
  vertical-align: middle;
}

/* line 54, ../sass/globals/_helpers.scss */
.valign-bottom {
  vertical-align: bottom;
}

/* line 57, ../sass/globals/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 58, ../sass/globals/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

@media print {
  /* line 2, ../sass/globals/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 10, ../sass/globals/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 14, ../sass/globals/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 18, ../sass/globals/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 24, ../sass/globals/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 29, ../sass/globals/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 34, ../sass/globals/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 39, ../sass/globals/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 43, ../sass/globals/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 53, ../sass/globals/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 59, ../sass/globals/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
