/*
==========================================================================
Grid Settings
==========================================================================
*/

$max-width: 2500px;
$columns: 12;
$gutter: 20px;
$padding: 5px 10px;

/*
==========================================================================
Colors
==========================================================================
*/

$base-color: #2c76a4;
$primary-color: #ff00ff; // hotpink
$secondary-color: #00ffff; // cyan