/*
==========================================================================
Grid Settings
==========================================================================
*/

$max-width: 960px;
$columns: 12;
$gutter: 0px;
$padding: 20px;

/*
==========================================================================
Colors
==========================================================================
*/

$main-color: #c20e1a;
$twitter: #72a9ed;
$facebook: #3b5998;