// Grid Settings

$max-width: 960px;
$columns: 12;
$gutter: 0px;
$padding: 0px;

// Fonts

$base-font: 'Arial, Helvetica, sans-serif';
$font-size: 16px;
$line-height: 26px;

// Breakpoints

$small: 480px;
$medium: 768px;
$large: 1024px;

// Colors

$white: #FFFFFF;
$black: #000000;

$primary-color: #FF0000;
$secondary-color: #0000FF;
