/*
==========================================================================
CSS animations / keyframes
==========================================================================
*/

@keyframes open {
    from {
        -webkit-transform: scale(0,0);
        -ms-transform: scale(0,0);
        transform: scale(0,0);
    }
    to {
        -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@-moz-keyframes open {
    from {
        -webkit-transform: scale(0,0);
        -ms-transform: scale(0,0);
        transform: scale(0,0);
    }
    to {
        -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@-o-keyframes open {
    from {
        -webkit-transform: scale(0,0);
        -ms-transform: scale(0,0);
        transform: scale(0,0);
    }
    to {
        -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@-webkit-keyframes open {
    from {
        -webkit-transform: scale(0,0);
        -ms-transform: scale(0,0);
        transform: scale(0,0);
    }
    to {
        -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
        transform: scale(1,1);
    }
}