/*
==========================================================================
Mixins
==========================================================================
*/

// Add transition
// http://caniuse.com/#feat=css-transitions
// ****************************************
@mixin transition($arg) {
    -webkit-transition: $arg;
       -moz-transition: $arg;
        -ms-transition: $arg;
         -o-transition: $arg;
            transition: $arg;
}

// Border radius
// http://caniuse.com/#feat=border-radius
// **************************************
@mixin border-radius($arg){
    -webkit-border-radius: $arg;
            border-radius: $arg;
}

// Add box shadow
// http://caniuse.com/#feat=css-boxshadow
// **************************************
@mixin box-shadow($arg) {
    -webkit-box-shadow: $arg;
            box-shadow: $arg;
}

// Set box sizing to border box
// http://caniuse.com/#feat=css3-boxsizing
// ***************************************
@mixin border-box() {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

// Mixin to create buttons
// ***********************
@mixin style-button($color, $textColor, $isInverted: false) {
    background: $color;
    color: $textColor;
    border: 1px solid darken($color, 10%);

    @if $isInverted { border-color: transparent;}
}