doctype html
html(lang="en")
  head
    <!-- build:css styles/style.css -->
    link(rel="stylesheet" href="../styles/style.css")
    <!-- endbuild -->
    title=pageTitle
  body
    h1 Jade - node template engine


  <!-- build:js scripts/main.js -->
  script(src="../scripts/main.js")
  <!-- endbuild -->