$max-width: 1080px;

$calc-width: 960px;

@function calc-percent($target) {
	$diff: $max-width / $calc-width;
	$target: $diff * $target;

	@return ($target / $max-width) * 100%;
}

@function cp($target) {
	@return calc-percent($target);
}