.twitter-article {
    background: rgba(255,255,255,.7);
    padding: 20px;
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    position: relative;
    width: 90%;
    margin: 20px 0 40px;

    p {
        margin: 0;
    }

    a {
        color: #1477c1;

        &:hover {
            color: $main-color;
        }
    }

    &:after {
        content: "";
        position: absolute;
        top: -20px;
        left: 50px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid rgba(255,255,255,.7);
    }
}

.tweet-time {
    font-size: 10px;
    position: absolute;
    bottom: 4px;
    right: 20px;
}

.no-touch {
    .twitter-article {
        @include transition(all .1s linear);

        -webkit-transform: scale(0,0);
        -ms-transform: scale(0,0);
        transform: scale(0,0);

        @for $i from 1 through 4 {
            &:nth-child(#{$i}){
                -webkit-animation: open 1s .5s*$i both; /* Safari 4+ */
                -moz-animation: open 1s .5s*$i both; /* Fx 5+ */
                -o-animation: open 1s .5s*$i both; /* Opera 12+ */
                animation: open 1s .5s*$i both; /* IE 10+ */
            }
        }
    }
}