/*
==========================================================================
Project CSS
==========================================================================
*/

body {
	font-size: $fontSize;
    font-family: $baseFont;
    box-shadow: 1px 1px 1px black;
    color: whitesmoke;
}