/*
==========================================================================
Typography
==========================================================================
*/

h2 {
    font-size: 44px;
    line-height: 44px;
    font-weight: 100;
}

h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 100;
}

strong {
    font-weight: normal;
    color: $main-color;
}