/*
==========================================================================
Typography
==========================================================================
*/

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

// Definitions
.small,
small {
    font-size: $fontSize * .8
}

li > p {
  padding-top: 0;
}