html,
button,
input,
select,
textarea {
    color: #222222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    padding: 0;
}

::selection {
    background: #B3D4FC;
    text-shadow: none;
}

hr {
    border: 0;
    border-top: 1px solid #CCCCCC;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.chromeframe {
    background: #CCCCCC;
    color: #000000;
    margin: .2em 0;
    padding: .2em 0;
}
